body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
}

.fullscreen-img-1 {
  background-position: center;
  background-size: cover;
  background-image: url(../img/home%20background.png);
  min-height: 75%;
}

.menu {
  display: none;
}


.mySlides {display:none;
}

